{% extends "base_generic.html" %}

{% block content %}

<h3>Title: {{ post.title }} {{ student.last_name }}</h3></li>
<img alt="Qries" src="{{ post.image }}" width="300" height="140">
<h5>Description: {{ post.full_description }}</h5>
<hr>
<h3>Comments</h3>
{% for comment in page_obj %}
<h6>User name:{{ comment.username }}</h6>
<h6>Comment: {{ comment.text }}</h6>
{% endfor %}

{% include "paginator_incl.html" %}
<hr>
<form method="post">
  {% csrf_token %}
  {{form.as_p}}
  <div class="form-actions">
    <button type="submit">Add comment</button>
  </div>
</form>

{% endblock %}